registry=https://pkgs.dev.azure.com/SecurityTools/DefenderForDevOps/_packaging/DfD-Consumption/npm/registry/
@microsoft:registry=https://pkgs.dev.azure.com/SecurityTools/DefenderForDevOps/_packaging/DfD-Consumption/npm/registry/